<section class="block container">
    <header class="block__header">
      <h2>Host on the cloud to keep Growing</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
        dicta.
      </p>
    </header>
    <article class="grid grid--cols-2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/svg/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3 class="feature__heading">super easy to use</h3>
        <p>
          Lorem ipsum dolor sit sasdasdadad dfd sefs asdasd amet consectetur
          adipisicing elit. Impedit nemo nam doloribus, omnis corporis
          sapiente.
        </p>
        <a href="#" class="link-arrow">learn more</a>
      </div>
      <img class="feature__img" src="/images/photos/easy.jpg" alt="" />
    </article>
    <article class="grid grid--cols-2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/svg/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3 class="feature__heading">super easy to use</h3>
        <p>
          Lorem ipsum dolor sit sasdasdadad dfd sefs asdasd amet consectetur
          adipisicing elit. Impedit nemo nam doloribus, omnis corporis
          sapiente.
        </p>
        <a href="#" class="link-arrow">learn more</a>
      </div>
      <img class="feature__img" src="/images/photos/fast.jpg" alt="" />
    </article>
    <article class="grid grid--cols-2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/svg/sprite.svg#wordpress"></use>
          </svg>
        </span>
        <h3 class="feature__heading">worpress makes easy</h3>
        <p>
          Lorem ipsum dolor sit sasdasdadad dfd sefs asdasd amet consectetur
          adipisicing elit. Impedit nemo nam doloribus, omnis corporis
          sapiente.
        </p>
        <a href="#" class="link-arrow">learn more</a>
      </div>
      <img class="feature__img" src="/images/photos/wordpress.jpg" alt="" />
    </article>
  </section>