<section
class="container block block--dark block--skewed-right block-showcase"
>
<header class="block__header">
  <h2>user friendly control panel</h2>
</header>
<div class="container grid grid--cols-2">
  <picture class="block-showcase__image">
    <source
      type="image/webp"
      srcset="images/photos/ipad.webp 1x, images/photos/ipad@2x.webp 2x"
    />
    <source
      type="image/png"
      srcset="images/photos/ipad.png 1x, images/photos/ipad@2x.png 2x"
    />

    <img src="/images/photos/ipad.png" alt="" />
  </picture>
  <ul class="list">
    <li>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/svg/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">easy start & managed update</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
            voluptatum beatae animi aliquam cum commodi ullam
            exercitationem nam praesentium aut!
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/svg/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Staging, GIt $WP-CLI</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Provident inventore nostrum sit iste deserunt similique
            eveniet sapiente quibusdam eos esse? Fugiat a non ad
            architecto vel quam explicabo quisquam aliquam!
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/svg/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Dynamic Caching & More</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut
            perferendis magnam cumque provident nemo officia aliquid totam
            velit. Quidem praesentium velit numquam corporis quae quos,
            beatae aperiam suscipit exercitationem aliquid commodi
            mollitia, minima tempora quam.
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
</section>